# https://github.com/github/gitignore/blob/main/CMake.gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
# Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build/
build-gcc14/

__pycache__/
.cache/

libs/

llvmorg-*.zip
llvm-source-old/
llvm-source/
llvm-build-old/
llvm-build/
*.obj/
*.obj.old/

notdec-facts/
notdec-outs/

out.txt
llvm-14.0.6.obj.tar.xz
tmp.md
mytest/
experiment/197.parser/
build-release/
/*.ll
*.ll.c
*.dot
Prompts.md
work_dir/
.codex
build-main-no-llvm2c/
external/
